<p id="notice"><%= notice %></p>

<h2>You Are Currently Standing At...</h2>
<p>
  <%= @location.my_location %>
</p>

<h2>The Closest Buses Are...</h2>

<div class="container">

<% if @bus_count == 0 %>
  <p>
    ...not really that close. Better order an Uber. Or Lyft. 
    Or call a friend. Or just give up and go back inside and 
    watch some TV. Going places is overrated.
    </p>
<% end %>

<% @nearby_buses.each_with_index do |bus, index| %>
  <p>
    <strong>Route:</strong> <%= bus["ROUTE"] %><br />
    <strong>Vehicle:</strong> <%= bus["VEHICLE"] %><br />
    <strong>Next Stop:</strong> <%= bus["TIMEPOINT"] %>
  </p>

<script>
  $(document).ready(function (){
    function initialize(){
      var userCoords = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>);
      var busCoords = new google.maps.LatLng(<%= bus["LATITUDE"] %>, <%= bus["LONGITUDE"] %>);

      var mapOptions = {
				center: userCoords,
				zoom: 13,
				scrollwheel: false
      };
		      
      var map = new google.maps.Map(document.getElementById('map-canvas<%= index %>'), mapOptions);
        
      var busString = "I am a bus!";
      var userString = "You are here!";

      var busImage = {
      	url: "<%= asset_path 'marta.jpg' %>",
      	scaledSize: new google.maps.Size(30,20)
      }

      var userImage = {
      	url: "<%= asset_path 'user.png' %>",
      	scaledSize: new google.maps.Size(15, 30)
      }

      var busMarker = new google.maps.Marker({
        position: busCoords,
				map: map,
				icon: busImage,
				animation: google.maps.Animation.DROP
      });

      var userMarker = new google.maps.Marker ({
      	position: userCoords,
      	map: map,
      	icon: userImage,
      	animation: google.maps.Animation.DROP
      });

      var infowindow = new google.maps.InfoWindow({
    		content: busString
      });

      google.maps.event.addListener(busMarker, 'click', function() {
        infowindow.open(map, busMarker);
      });

      var infowindow2 = new google.maps.InfoWindow({
      	content: userString
      });

      google.maps.event.addListener(userMarker, 'click', function () {
      	infowindow2.open(map, userMarker);
      });


    }

  google.maps.event.addDomListener(window, 'load', initialize);
  });
</script>

  <div class="bus-map" id="map-canvas<%= index %>"></div>
<% end %>
</div>
<%= link_to "Actually, I'm at...", edit_location_path(@location) %>